* {
    margin: 0;
    padding: 0;
}

.game-container {
    width: 600px;
    height: 650px;
    margin: auto;
    border: 1px solid black;
    
}

#sonic {
    width: 50px;
    height: 100px;
    background-color:green;
    position: relative;
    background-image: url(images/sonic-running-back-aboveview.gif);
    /* background-image: url(images/sonic-running-backview.gif); */
    background-size: 100px 120px;
    top: 450px;
    left: 250px;
}
